.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    animation: 1s animate 0.5s forwards;
    opacity: 0;
  }
  
  @keyframes animate {
    100% {
      opacity: 1;
    }
  }
  
  .navbar__item {
    font-family: firgine;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }
  
  .navbar__item:hover {
    color: #0066ff;
  }
  
  .navbar__item-link {
    padding: 0.5rem;
  }
  
  .vr {
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      justify-content: space-between;
    }
    .navbar__item {
      font-size: 18px;
      padding: 0;
    }
  }
  
  .navbar__item-link {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
  }
  
  .navbar__item-link:hover {
    color: #0066ff;
  }
  